In [4]:
import pandas as pd

In [ ]:
pip install pandas matplotlib seaborn

In [3]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [9]:
print ("Pandas version:", pd._version_)

AttributeError: module 'pandas' has no attribute '_version_'

In [11]:
print("Pandas version:", pd.__version__)

Pandas version: 2.2.2

In [10]:
#dataframe = pd.read_csv('Mobiles_Dataset_2025.csv')



#df = pd.read_csv('Mobiles_Dataset_2025.csv', encoding='utf-8')  # or encoding='cp1252'
# Skip invalid characters
df = pd.read_csv('Mobiles_Dataset_2025.csv', encoding='utf-8', errors='ignore')

TypeError: read_csv() got an unexpected keyword argument 'errors'

In [12]:
import pandas as pd
print(pd.__version__)

2.2.2

In [14]:
import pandas as pd

df = pd.read_csv('Mobiles_Dataset_2025.csv', encoding='utf-8', errors='ignore')

TypeError: read_csv() got an unexpected keyword argument 'errors'

In [18]:
df = pd.read_csv("Mobiles_Dataset_2025.csv", encoding='latin1')

In [22]:
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 249,999","INR 89,999","CNY 6,199",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 259,999","INR 94,999","CNY 6,499",USD 949,"AED 3,399",2024